<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="utf-8" />
            <title></title>
            <link rel="stylesheet" type="text/css" href="css/common.css" />
            <link rel="stylesheet" type="text/css" href="css/navcommon.css" />
            <link rel="stylesheet" type="text/css" href="css/businessAbandon.css" />
        </head>
            <script type="text/javascript" src="lib/jquery.min.js" ></script>

            <script type="text/javascript" src="js/businessAbandon.js" ></script>

            <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js" ></script>
            <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js" ></script>
            <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM" ></script>

            <script src="./lib/vue.min.js"></script>
            <script src="./js/common.js"></script>
        <body>
        <!--
        作者：offline
        时间：2016-12-12
        描述：菜单
    -->
        <div class="header">
            <div class="logo">
                <a href="index.html">LOGO</a>
            </div>
            <ul >
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a class="liback" href="javascript:;">经营分析</a>
                    <ul class="detail">
                        <li><a href="business.html">产品宏观分析</a></li>
                        <li><a href="businessNewCar.html">新车上牌分析</a></li>
                        <li><a href="businessCarCompetition.html">车辆竞品分析</a></li>
                        <li><a href="businessCarPeople.html">客群宏观分析</a></li>
                        <li><a href="business2sShop.html">2S店选址</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">销售线索</a>
                    <ul class="detail">
                        <li><a href="javascript:;">销售线索明细</a></li>
                        <li><a href="Backtracking.html">线上行为回溯</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">潜客分析</a>
                    <ul class="detail">
                        <li><a href="javascript:;">用户画像</a></li>
                        <li><a href="javascript:;">潜客查询</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">现客分析</a>
                    <ul class="detail">
                        <li><a href="javascript:;">用户画像</a></li>
                        <li><a href="javascript:;">现客分析</a></li>
                    </ul>
                </li>
                <li>
                    <a href="businessAbandon.html">弃客用户分析</a>
                    <ul class="detail">
                        <li><a href="javascript:;">流向分析</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">车辆生命周期</a>
                    <ul class="detail">
                        <li><a href="javascript:;">车辆流转</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--
        	作者：offline
        	时间：2016-12-12
        	描述：当前菜单列表展示
        -->
        <div class="layout">
            <div class="text">
                <a>弃客分析></a><a>流向分析</a>
                <p>
                    <span>荣威</span>
                    <span>e50</span>
                </p>
                <i class="opac"></i>
            </div>
        </div>
        <!--
            作者：offline
            时间：2016-12-12
            描述：产品列表分类
        -->
        <div class="layout" id="category">
            <div class="nav">
                <div class="navVender">
                    <span>厂商:</span>
                    <ul>
                        <li  v-for="manufacturer in manufacturers" v-on:click="manufacturerOnclick($index)"
                             v-bind:class="{ 'venderActive': $index == manufacturerIndex }"  v-text="manufacturer.name">
                        </li>
                    </ul>
                </div>
                <div class="navBrand">
                    <span>品牌:</span>
                    <ul>
                        <li  v-for="brand in brands" v-on:click="brandOnclick($index)"
                             v-bind:class="{ 'brandActive': $index == brandIndex }"  v-text="brand.name">
                        </li>
                    </ul>
                </div>
                <div class="navStyle">
                    <span>车型:</span>
                    <ul>
                        <li  v-for="model in models" v-on:click="modelOnclick($index)"
                             v-bind:class="{ 'styleActive': $index == modelIndex }"  v-text="model.name">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
        	作者：offline
        	时间：2016-12-14
        	描述：工作行业分布
        -->
        <div class="layout content">
            <div class="layoutTitle">
                <span>流向分析图:</span>
            </div>
            <div class="Flow " id="Flow">
            </div>

        </div>
        <!--
        	作者：offline
        	时间：2016-12-12
        	描述：公司
        -->
        <div class="footer">
            <span>深圳雁联移动科技有限公司</span>
        </div>
        <script src="./js/category.js"></script>

        </body>
    </html>