
.layout{
  width:90%;
  min-width:1200px;
  margin:0 auto;
  color:#DBDBE1;
}
.main {
  height:665px;
  margin-top:18px;
  margin-bottom:33px;
  box-shadow: 0 1px 5px #000000;
  background:#47474A;
  box-sizing: border-box;
}
.main .mainTitle{
  height:47px;
  line-height:47px;
  /* background:#424242;*/
  background: -moz-linear-gradient(top,#47474a,#3e3e40);
  background: -webkit-linear-gradient(top,#47474a,#3e3e40);
  padding-left:48px;
}
.main .mainTitle span{
  display:block;
  padding-left:25px;
}
.main .online{
  width:50%;
  height:618px;
  float:left;
}
.main .buy {
  width:50%;
  height:618px;
  float:left;
}
