@charset "UTF-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: none; }

img {
  display: block; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ul, ol {
  list-style: none; }

a {
  color:#D7D8E0;
  text-decoration: none; }

a:visited {
  color: #D7D8E0; }

a:hover, a:active {
  color:; }

* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%; }

html {
  background: #2f3136;
  font-size: 16px; }/*文字显示较大*/

/* head头部菜单样式 */
.header {
  height: 102px;
  width: 100%;
  min-width: 1200px;
  background: -moz-linear-gradient(top, #47474a, #434346 50%, #3e3e41 100%);
  background: -webkit-linear-gradient(top, #38383c, #37373b 50%, #2a2a2c 100%);
  box-shadow: 0px 1px 5px #000000;
  color: #d7d8e0; }
.header .logo{
  float:left;
  line-height: 102px;
  height: 102px;
  margin-left:100px;
  font-size:40px;
}
.header .logo a{
  color:#D7D8E0;
}
.header > ul {
  padding-right: 50px;
  float: right; }
.header > ul > li {
  float: left;
  position: relative;
}
.header > ul > li > a {
  display: block;
  line-height: 102px;
  height: 102px;
  padding: 0 20px;
  box-sizing: border-box; }
/*设置一个class更改html的class位置*/
.header > ul > li .liback{
  color: #28DBDE;
  /*background:-webkit-linear-gradient(top, #353638 0% ,  #37383a 50%, #304f51 100%);
  background: -moz-linear-gradient(top,#353638  0% ,#37383a 50% , #304f51 100%);*/
  background-image: -webkit-radial-gradient(circle at bottom center,#304f51 0%,#37383a 50%, #353638  100%);
  background-image: radial-gradient(circle at bottom center , #304f51 0%,#37383a 50%, #353638  100%);

}
.header > ul > li:hover > a {
  color: #28dbde; }
.header > ul > li > ul {
  display: none;
  position: absolute;
  z-index:999;
  left: -10%;
  top: 102px;
  width: 120%;
  padding-top: 10px;
  padding-bottom: 15px;
  background: rgba(60, 60, 60, 0.8);/*调整背景颜色*/
  text-align: center; }
.header > ul > li > ul li a {
  display: block;
  line-height: 36px; }
.header > ul > li > ul li a:hover {
  color: #28DBDE; }
.header > ul > li:hover > ul.detail {
  display: block; }

/*footer最后的格式*/
.footer {
  width: 100%;
  min-width: 1200px;
  height: 100px;
  line-height: 100px;
  background: #47474A;
  box-shadow: 0px 1px 5px #000000;
  text-align: center;
  color: #D7D8E0; }
